* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    transition: .4s;
}

/* selector de hijo directo > el select universal el selector de hermano adyacente y select universal */
/* seleccionar todos elementos dentro section pero hermanos adyacentes */
/* separados 40px menos el primero */
section > * + *{
    margin-top: 40px;
}

p {
    font-size: 20px;
    /* Todos tienen 50px de arriba y abjo todos */
    /* margin-top: 50px; */
    text-align: center;
}